@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
*{
	margin: 0px;
	padding: 0px;
	transition: 0.3s;
}
ul{
	list-style-type: none;
}
a, a:active{
	text-decoration: none;
	color: inherit;
}
body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 13px;
	color: #808080;
	background-color: #e9e9e9;
}
h2{
	color: #6f6f6f;
}
h1, h2, h3, h4{
	font-weight: 300;
	letter-spacing: 3px;
}
/* For mobile phones: */
@media (max-width: 767px) {
[class*="col-"] {
    width: 100%;
}
.sidebar img{
	width: 20%;
}
.affix{
	position: relative !important;
}

.sidebar{
	display: none;
}

.modal-dialog{
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
}

.navbar-default .navbar-toggle {
    border-color: #ddd; 
}
.no-desktop-logo img{
	width: 32px;
	margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
}
.table{
	border: none;
}
}

/*end of mobile css*/

/*desktop css*/
@media (min-width: 768px) {

li.no-desktop{
	display: none;
}

.no-desktop-logo{
	display: none;
}

.affix{
	left: 0;
	width: inherit;
}

.sidebar{
	height: 100vh !important;
	background-color: #f7f7f7;
	text-align: center;
	padding: 8vh 0;
	z-index: 100;
}
.sidebar a{
	display: block;
	border-right: 3px solid #f7f7f7;
	text-decoration: none;
	color: inherit;
	padding-top: 8%;
	padding-bottom: 8%;
}

.sidebar a:hover{
	border-right-color: #dcdcdc;
}
.sidebar a.active{
	border-right-color: #bcbcbc;
}

.sidebar hr{
	margin-top: 0;
	margin-bottom: 0;
}

.sidebar img{
	width: 30%;
}

.sidebar a.no-hover{
	border: none;
	border-right: none;
}


.bg-white{
	background-color: white;
}

.no-padding{
	padding: 0;
}

.navbar-default{
	padding-top: 2%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #E9E9E9;

}

.nav-content{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.clear{
	content: '&nbsp;';
	clear: both;
}

.clear::after{
	clear: both;
}
nav.nav.navbar-default.bg-white.navbar-fixed-top {
    z-index: 0;
}

}

/*end of desktop css*/

.content{
	min-height: 550px;
	width: 98%;
	margin: 1% auto;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 20px;
	margin-top: 90px;
}
.modal-link{
	cursor: pointer;
	color: #ff7070;
}
.modal-link:hover{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	color: #ff7070;
}

.modal{
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
}


label{
	font-weight: 300;
	margin-top: 10px;
}

.disabled{
	pointer-events: none;
}

.date{
	border: none;
}
.sidebar{
	z-index: 100;
}

.table {
    border-bottom: 0px !important;
}
.table th, .table td {
    border: 1px !important;
}

thead tr{
	border-bottom: 1px solid #eee;
}

.table>thead>tr>th {
    padding: 15px 15px 15px 8px;