@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
*{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
a, a:hover, a:active{
	text-decoration: none;
	color: inherit;
}
body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 13px;
	color: #333333;
}
h2{
	color: #6f6f6f;
}
h2, h3, h4{
	font-weight: 300;
	text-align: center;
	letter-spacing: 3px;
}
.bold{
	font-weight: 900;
}
.brand{
	font-size: 16px;
	font-weight: 300;
}
.nav{
	background-color: #ffffff;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.nav a{
	font-size: 14px;
	font-weight: 300;
}
.latest-works .row{
	width: 80%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-right: auto;
	margin-left: auto;
}
.latest-works{
	background-image: url('/img/bannerbg.jpg');
	background-size: cover;
}
.latest-works h2{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.section{
	padding-top: 3%;
	padding-bottom: 3%;
}
.thumbnail{
	border: 1px solid #ebebeb;
	height: 225px;
	overflow: hidden;
	margin-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0;
}
.thumbnail img{
	position: relative;
	top: -40%;
}
.thumbnail img:hover{
	position: relative;
	top: -40%;
    cursor: pointer;
    transition: 0.7s;
}
.desc-container{;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}
.desc-container::after{
	content: "";
	clear: right;
	display: table;
}
.description{
	margin-right: auto;
	margin-left: auto;
	height: 120px;
	width: 90%; 
}
.title{
	font-weight: 900;
	font-size: 14px;
	display: block;
	color: #42B4E6;
}
.title img{
	height: 25px;
	display: block;
	margin-bottom: 15px;
}
.success{
	background-color: #42B4E6;
	color: white;
	margin-top: 20px;
}
.btn:hover{
	color: white;
	background-color: #359bc7;
	transition: 0.5s;
}

.aboutme{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10% !important;
	padding-bottom: 10% !important;
}

.aboutme-desc{
	width: 65%;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.profile{
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
	height: 150px;
}
.profile img{
	width: 230px;
	position: relative;
	left: -35px;
	margin-left: auto;
	margin-right: auto;
}

.row.services{
	padding-top: 5%;
	text-align: center;
}
.logo{
	width: 30px;
	margin-right: 15px;
}
.btn-primary{
	background-color: #42B4E6;
}

footer{
	width: 100%;
	position: relative;
	bottom: 0;
	text-align: center;
	color: #c1c1c1;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #263238;
}

.logo-container{
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-default .navbar-toggle{
	border-color: transparent;
}
.navbar-brand{
}
.navbar-brand>img{
	display: inline;
}
.navbar-default .navbar-brand {
    color: #333;
}

.my-services{
	background-color: #E4E4E4;
	background-image: url('/img/servicesbg.jpg');
	background-size: cover;
	padding-top: 5%;
	padding-bottom: 10%;
}

@media screen and (max-width: 1024px){

.project-container{
	margin-bottom: 10%;
}

}