@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');
*{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
}
a, a:hover{
	text-decoration: none;
	color: inherit;
}
body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 1.2px;
}
h2, h3{
	font-weight: 300;
	text-align: center;
	letter-spacing: 3px;
}
.bold{
	font-weight: 900;
}
.brand{
	font-size: 20px;
	font-weight: 300;
}
.nav{
	padding-top: 3%;
}
.nav a{
	font-size: 18px;
	font-weight: 300;
}
.latest-works .row{
	width: 80%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: auto;
	margin-left: auto;
}
.who-am-i{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.section{
	margin-top: 5%;
	margin-bottom: 5%;
}
.thumbnail{
	border: 1px solid #ebebeb;
	height: 250px;
	overflow: hidden;
	padding: 0;
}
.thumbnail img{
	position: relative;
	top: -40%;
}
.description{
	margin-right: auto;
	margin-left: auto;
	height: 120px;
	width: 90%; 
}
.title img{
	height: 25px;
	display: block;
	margin-bottom: 15px;
}
.success{
	background-color: #8dc63f;
	color: white;
	margin-top: 20px;
}
.btn:hover{
	color: white;
	background-color: #84ba3b;
}
.aboutme{
	width: 65%;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.profile{
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
	height: 150px;
}
.profile img{
	width: 230px;
	position: relative;
	left: -35px;
	margin-left: auto;
	margin-right: auto;
}

.services{
	width: 200px;
	margin-left: auto;
	margin-right: auto; 
}
.logo{
	width: 30px;
	margin-right: 15px;
}